nav {
    background-color: #eae3c8;
    display: flex;
    text-align: center;
}

.nav-item {
    display: flex;
    text-align: center;
}

.nav-link {
    display: grid;
    align-self: center;
    text-align: center;
    justify-self: center;
}

#nav a {
    color: black;
    font-weight: 400;
    letter-spacing: 0.3em;
}

#img-index {
    width: 5%;
    height: 5%;
}


